.container{
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/doctor.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mainContent{
  height: 100%;
  background-color: aqua;
}